.detail {
  width: 100%;
  .open {
    width: 95%;
    margin: 0 auto;
    .formone {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      position: relative;
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgb(229, 229, 229);
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(204, 204, 204) 0px 3px 10px 0px;
        box-sizing: border-box;
        font-size: 14px;
        height: 40px;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: pointer;
        font-size: 13px;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 0;
        img {
          width: 15px;
          height: 15px;
          object-fit: cover;
        }
      }
    }
    .flex {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
      .formtwo {
        width: 49.5%;
        margin-right: auto;
        position: relative;
        input {
          width: 100%;
          border-radius: 5px;
          border: 1px solid rgb(229, 229, 229);
          background-color: rgb(255, 255, 255);
          box-shadow: rgb(204, 204, 204) 0px 3px 10px 0px;
          box-sizing: border-box;
          font-size: 14px;
          height: 40px;
          cursor: pointer;
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          box-sizing: border-box;
          color: rgb(0, 0, 0);
          cursor: pointer;
          font-size: 13px;
          position: absolute;
          top: 2px;
          left: 0;
          gap: 5px;
          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
          }
        }
      }
      .absolute {
        position: absolute;
        left: 0%;
        top: 105%;
        width: 50%;
        z-index: 1;
        height: 200px;
        display: flex;
        background-color: rgb(243, 243, 243);
        flex-direction: column;
        align-items: center;
        scroll-behavior: smooth;
        overflow-y: scroll;
        border-radius: 5px;
        p {
          border-bottom: 1px solid rgb(197, 197, 197);
          width: 98%;
          margin: 0 auto;
          text-align: left;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .formthree {
        width: 49.5%;
        margin-left: auto;
        position: relative;
        input {
          width: 100%;
          border-radius: 5px;
          border: 1px solid rgb(229, 229, 229);
          background-color: rgb(255, 255, 255);
          box-shadow: rgb(204, 204, 204) 0px 3px 10px 0px;
          box-sizing: border-box;
          font-size: 14px;
          height: 40px;
          cursor: pointer;
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          box-sizing: border-box;
          color: rgb(0, 0, 0);
          cursor: pointer;
          font-size: 13px;
          position: absolute;
          top: 2px;
          left: 0;
          gap: 5px;
          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
          }
        }
      }
    }
    .title {
      font-family: "RobotoBold";
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 15px;
      width: 100%;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 5px;
      .flexbox {
        display: flex;
        align-items: center;
        gap: 5px;
        p {
          box-sizing: border-box;
          color: rgb(0, 0, 0);
          cursor: pointer;
          font-size: 15px;
          line-height: 18px;
          padding: 8px 0;
        }
        span {
          color: rgb(153, 153, 153);
          cursor: pointer;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
    .modal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 100;
      margin-top: 10px;
      margin-bottom: 20px;
      .toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button {
          position: relative;
          border-radius: 23px;
          background-color: rgb(220, 220, 220);
          border: 2px solid rgb(212, 212, 212);
          cursor: pointer;
          width: 20px;
          height: 20px;
          z-index: 100;
          .circle {
            position: absolute;
            border-radius: 50%;
            background-color: white;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: 100;
          }
        }
        span {
          color: rgb(136, 136, 136);
          cursor: pointer;
          font-size: 14px;
        }
      }
      .hide {
        position: absolute;
        width: 300px;
        background-color: rgb(255, 255, 255);
        top: 40px;
        box-shadow: 0 11px 35px 0 rgb(0 0 0 / 71%);
        .titles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h1 {
            font-size: 16px;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 10px;
          }
          img {
            width: 18px;
            height: 18px;
            object-fit: cover;
            cursor: pointer;
            padding-right: 10px;
          }
        }
        input {
          background-color: rgb(255, 255, 255);
          border-radius: 3px;
          border: 1px solid rgb(153, 153, 153);
          color: #000;
          cursor: text;
          font-size: 16px;
          font-weight: 400;
          padding-left: 10px;
          margin-left: 10px;
          text-align: start;
          height: 35px;
        }
        button {
          align-items: flex-start;
          background-color: rgb(0, 147, 211);
          border-radius: 3px;
          box-sizing: border-box;
          color: rgb(255, 255, 255);
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          margin-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          height: 35px;
          margin-bottom: 20px;
          margin-left: 10px;
          border: none;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    .main {
      width: 100%;
      .peritem {
        width: 100%;
        img {
          width: 100%;
        }
        .price {
          width: 100%;
          color: rgb(0, 0, 0);
          font-family: "RobotoBold";
          font-weight: bold;
          font-size: 20px;
          line-height: 22px;
          margin-right: 5px;
          margin-top: 10px;
        }
        .title {
          width: 100%;
          color: rgb(0, 0, 0);
          cursor: pointer;
          font-size: 15px;
          line-height: 18px;
          margin-top: 5px;
        }
        .desc {
          width: 100%;
          color: rgb(153, 153, 153);
          font-family: "RobotoRegular";
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 10px;
        }
        .city {
          width: 100%;
          color: rgb(153, 153, 153);
          font-family: "RobotoRegular";
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
