.footer {
  width: 100%;
  background-color: rgb(169, 6, 2);
  line-height: 30px;
  .text {
    font-family: "RobotoRegular";
    width: 50%;
    margin: 0 auto;
    .link {
      text-align: left;
      color: rgb(255, 255, 255);
      font-size: 13px;
      text-decoration: none;
      &:hover{
        color: #f8c500;
      }
    }
  }
}
@media (max-width: 768px){
  .footer{
    .text{
      width: 90%;
    }
  }
}