.menu {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    .menuFirst {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width: 768px){
    .menu{
      width: 100%;
      margin: 0;
      .menuFirst{
        grid-template-columns: 1fr 1fr;
      }
    }
  }